@model Character

@{
  string isFavoriteClass = Model.IsFavorite ? "fas text-warning" : "far";
}

<div class="card">
  <img src="@Model.Image" class="card-img-top" alt="@Model.Name">
  <div class="card-body position-relative">
    <h5 class="card-title">@Model.Name</h5>
    <p class="card-text">
      <strong>Status:</strong> @Model.Status <br>
      <strong>Species:</strong> @Model.Species
    </p>
    <button class="btn position-absolute end-0 bottom-0" type="button" data-bs-toggle="tooltip" title="Save Favorite"
      onClick="saveFavorite('@Model.Id')" id="toggle-favorite-@Model.Id">
      <i class="fa-star fa-lg @isFavoriteClass"></i>
    </button>
  </div>
</div>
